body
{
    background: purple;
    color:white;
}
.clase
{
    cursor: crosshair;
}
#juanca
{
    background: red;
    width: 100%;
    height: 200px;
}
#cla
{
    color:#33f90d;
}
.perla
{
    background: seashell;
}