body
{
    background: purple;
    color:white;
}
.yyyy
{
    color:graytext;
}
.xxxx
{
    color:beige;
}
.aaa
{
    box-shadow: turquoise;
}
.ccc
{
    text-shadow: calc;
}
.primera
{
    background-repeat: repeat-x;
}